@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");


html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: $bg-color;
}

ul {
  padding: 0;
  list-style: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background-color: #fefefe;
}

::-webkit-scrollbar-thumb {
  background-color: rgba($color: $dark-color, $alpha: .4);
}

.bg-main {
  background-color: $main-color;
}

.color-main {
  color: $main-color;
}

.input-error {
  color: red;
  font-size: 1.3rem;
  font-style: italic;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;

  &__content {
    border: 10px solid #f3f3f3;
    border-top: 10px solid $main-color;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: loading 2s linear infinite;
  }
}

@keyframes loading {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}