
$main-color: #3DA174;
$bg-color: #F5F5F5;
$light-gray-color: #EBECF0;
$gray-color: $gray-600;
$light-color: #FEFEFE;
$light-dark-color: #9FA5AA;
$dark-color: #333;
$orange-color: #fbb96b;
$pink-color: #fe7e73;
$cyan-color: $cyan;

$title-size: 2.5rem;
$subtitle-size: 1.8rem;
$text-size: 1.5rem;
$icon-size: 2.5rem;
$subicon-size: 2rem;
$medium-size: 3rem;
$large-size: 4rem;

$radius: .5rem;
$transition: all 0.3s ease;
$opacity: .7;
$box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
$box-shadow-darker: rgba(99, 99, 99, 0.2) 0px 2px 15px 0px;

$epub-color: $pink-color;
$pdf-color: $orange-color;
$awz3-color: $cyan-color;
$mobi-color: $main-color;
$disabled-color: $light-gray-color;