
.box {
  background-color: $light-color;

  &_title {
    margin: 0;
    color: $dark-color;
    font-size: $subtitle-size;
    font-weight: bold;
    text-transform: uppercase;
  }

  &_getAll {
    color: $main-color;
    font-size: $subtitle-size;
    font-weight: bold;
    text-transform: uppercase;

    &:hover {
      color: $main-color;
      text-decoration: underline;
    }
  }

  @include media-breakpoint-down(md)  {
    &_title {
      font-size: $text-size;
    }

    &_getAll {
      font-size: $text-size;
    }
  }
}