
.slider {

  &:hover &_navigation {
    opacity: 1;
  }

  &_navigation {
    position: absolute;
    top: 45%;
    padding: 1rem .5rem;

    background-color: $main-color;

    border-radius: .5rem;
    opacity: 0;
    transition: $transition, opacity .1s ease-in;
    transform: translateY(-45%);
    z-index: 10;

    i {
      font-size: $icon-size;
      color: $bg-color;
    }

    &--prev {
      left: 1rem;
    }
    &--next {
      right: 1rem;
    }

    @include media-breakpoint-down(md)  {
      display: none;
    }
  }

}