<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/app.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
</head>

<body>

  <header class="header header_desktop header p-4 border-bottom d-none d-lg-block">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">

        <div class="header_left d-flex align-items-center">

          <div class="header_logo me-3">
            <a href="/views/home.html">
              <img src="../assets/logo-waka.png" alt="">
            </a>
          </div>

          <div class="header_menu">
            <div class="dropdown">
              <a class=dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class='bx bx-category'></i>
              </a>

              <ul class="dropdown-menu">
                <li><a class="dropdown-item pb-2 fs-4" href="#">Trinh thám</a></li>
                <li><a class="dropdown-item pb-2 fs-4" href="#">Trinh thám</a></li>
                <li><a class="dropdown-item pb-2 fs-4" href="#">Trinh thám</a></li>
                <li><a class="dropdown-item pb-2 fs-4" href="#">Trinh thám</a></li>
                <li><a class="dropdown-item pb-2 fs-4" href="#">Trinh thám</a></li>
                <li><a class="dropdown-item pb-2 fs-4" href="#">Trinh thám</a></li>
              </ul>
            </div>
          </div>

        </div>

        <div class="header_right d-flex align-items-center">

          <div class="header_search me-4">
            <button type="button" data-bs-toggle="modal" data-bs-target="#searchModal">
              <i class="bx bx-search"></i>
              <span>Tìm kiếm</span>
            </button>
          </div>

          <!-- <div class="header_option header_cart me-4">
            <a href="/">
              <i class="bx bx-cart"></i>
              <span>Giỏ hàng</span>
            </a>
          </div> -->

          <div class="header_option header_account">
            <a href="">
              <i class="bx bx-user"></i>
              <span>Tài khoản</span>
            </a>
          </div>

          <!-- <div class="header_dropdown">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
            </a>
            <ul class="dropdown-menu dropdown-menu-end text-small" aria-labelledby="dropdownUser1">
              <li><a class="dropdown-item" href="#">Tài Khoản</a></li>
              <li><a class="dropdown-item" href="#">Đơn Hàng</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Đăng Xuất</a></li>
            </ul>
          </div> -->


        </div>

      </div>

    </div>
  </header>

  <header class="header header_mobile header py-3 px-1 mb-3 border-bottom d-block d-lg-none">

    <div class="container">

      <div class="header_top">
        <div class="header_logo">
          <a href="/views/home.html">
            <img src="../assets/logo-waka.png" alt="">
          </a>
        </div>
      </div>

      <div class="header_bottom d-flex justify-content-between align-items-center">

        <div class="header_left">

          <div class="header_option header_menu">
            <a role="button" class="ico_menu">
              <i class='bx bx-category'></i>
            </a>

            <aside class="header_catalogue">
              <div class="header_catalogue_containter">

                <div class="header_catalogue_header border-bottom">

                  <div class="header_catalogue_title">
                    <i class="bx bx-category"></i><span>Danh Mục</span>
                  </div>

                  <div class="header_catalogue_close">
                    <a role="button" class="ico_close">
                      <i class="bx bx-x"></i>
                    </a>
                  </div>

                </div>

                <div class="header_catalogue_body">
                  <ul>
                    <li class="header_catalogue_item"><a href="/" class="header_catalogue_link">Kỹ năng sống</a></li>
                    <li class="header_catalogue_item"><a href="/" class="header_catalogue_link">Kinh tế</a></li>
                    <li class="header_catalogue_item"><a href="/" class="header_catalogue_link">Tiểu thuyết</a></li>
                    <li class="header_catalogue_item"><a href="/" class="header_catalogue_link">Văn học</a></li>
                  </ul>
                </div>

              </div>
            </aside>

          </div>

        </div>

        <div class="header_center mx-4">
          <div class="header_search">
            <button type="button" data-bs-toggle="modal" data-bs-target="#searchModal">
              <i class="bx bx-search"></i>
              <span>Tìm kiếm</span>
            </button>
          </div>
        </div>

        <div class="header_right d-flex align-items-center">

          <div class="header_option header_cart me-2">
            <a href="">
              <i class="bx bx-cart"></i>
            </a>
          </div>

          <div class="header_option header_account">
            <a href="">
              <i class="bx bx-user"></i>
            </a>
          </div>

        </div>

      </div>

    </div>

  </header>

  <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">

          <div class="search-form">
            <div class="search-form_header">
              <span class="search-form_icon search-form_icon--search"><i class="bx bx-search"></i></span>
              <a class="search-form_icon search-form_icon--close" role="button"><i class="bx bx-x"></i></a>
              <input type="text" class="search-form_input" placeholder="Nhập tên sách" />
            </div>

            <div class="search-form_body">

              <!-- <div class="search-form__body__text" v-if="searchLoading">
                <h1 class="color-secondary">...Đang tìm kiếm</h1>
              </div>
        
              <template v-else>
                <template v-if="searchResult.length">
                  <router-link
                    :to="{
                      name: 'book-detail',
                      params: {
                        slug: slugify(book.title, { lower: true, locale: 'vi' }),
                      },
                      query: { id: book.id },
                    }"
                    v-for="book in searchResult"
                    :key="book.id"
                  >
                    <div class="book-card__horizontal">
                      <div
                        class="book-card__horizontal__info"
                        :style="{ margin: '1.5rem 0' }"
                      >
                        <img
                          class="book-card__horizontal__info__image"
                          :src="getBookCover(book.title)"
                          :alt="book.title"
                        />
                        <div class="book-card__horizontal__info__meta">
                          <div class="book-card__horizontal__info__meta__item">
                            Tên sách: <span>{{ book.firstPart }}<span :style="{'color': '#333'}">{{book.hightlightPart}}</span>{{book.lastPart}}</span>
                          </div>
                          <div class="book-card__horizontal__info__meta__item">
                            Tác giả: <span>{{ book.author }}</span>
                          </div>
                          <div class="book-card__horizontal__info__meta__item">
                            Thể loại:
                            <span>{{ getCategoryById(book.categoryId).name }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
        
                    <hr />
                  </router-link>
                </template>
        
                <div class="search-form__body__text" v-else>
                  <h1 class="color-secondary">Không tìm thấy sách</h1>
                </div>
              </template> -->

              <div class="search-form_result">
                <a href="/">
                  <div class="search-book_card d-flex">
                    <img src="../assets/book.png" alt="" class="search-book_card_cover">

                    <div class="search-book_card_info ms-4 flex-grow-1">
                      <div class="search-book_card_title">Tuổi trẻ đáng giá bao nhiêu ?</div>
                      <div class="search-book_card_meta">Roise Nguyen</div>

                      <div class="search-book_card_meta search-book_card_review">
                        <span>4.7 <i class='bx bxs-heart'></i></span>
                      </div>

                      <div class="search-book_card_meta">1,000 luợt tải</div>

                      <div class="search-book_card_meta search-book_card_labels d-flex align-items-center flex-wrap">
                        <div class="search-book_card_label search-book_card_label--mobi">MOBI</div>
                        <div class="search-book_card_label search-book_card_label--pdf">PDF</div>
                        <div class="search-book_card_label search-book_card_label--epub">EPUB</div>
                        <div class="search-book_card_label search-book_card_label--awz3">AWZ3</div>
                      </div>
                    </div>
                  </div>
                </a>

                <a href="/">
                  <div class="search-book_card d-flex">
                    <img src="../assets/book.png" alt="" class="search-book_card_cover">

                    <div class="search-book_card_info ms-4 flex-grow-1">
                      <div class="search-book_card_title">Tuổi trẻ đáng giá bao nhiêu ?</div>
                      <div class="search-book_card_meta">Roise Nguyen</div>

                      <div class="search-book_card_meta search-book_card_review">
                        <span>4.7 <i class='bx bxs-heart'></i></span>
                      </div>

                      <div class="search-book_card_meta">1,000 luợt tải</div>

                      <div class="search-book_card_meta search-book_card_labels d-flex align-items-center flex-wrap">
                        <div class="search-book_card_label search-book_card_label--mobi">MOBI</div>
                        <div class="search-book_card_label search-book_card_label--pdf">PDF</div>
                        <div class="search-book_card_label search-book_card_label--epub">EPUB</div>
                        <div class="search-book_card_label search-book_card_label--awz3">AWZ3</div>
                      </div>
                    </div>
                  </div>
                </a>

                <a href="/">
                  <div class="search-book_card d-flex">
                    <img src="../assets/book.png" alt="" class="search-book_card_cover">

                    <div class="search-book_card_info ms-4 flex-grow-1">
                      <div class="search-book_card_title">Tuổi trẻ đáng giá bao nhiêu ?</div>
                      <div class="search-book_card_meta">Roise Nguyen</div>

                      <div class="search-book_card_meta search-book_card_review">
                        <span>4.7 <i class='bx bxs-heart'></i></span>
                      </div>

                      <div class="search-book_card_meta">1,000 luợt tải</div>

                      <div class="search-book_card_meta search-book_card_labels d-flex align-items-center flex-wrap">
                        <div class="search-book_card_label search-book_card_label--mobi">MOBI</div>
                        <div class="search-book_card_label search-book_card_label--pdf">PDF</div>
                        <div class="search-book_card_label search-book_card_label--epub">EPUB</div>
                        <div class="search-book_card_label search-book_card_label--awz3">AWZ3</div>
                      </div>
                    </div>
                  </div>
                </a>

                <a href="/">
                  <div class="search-book_card d-flex">
                    <img src="../assets/book.png" alt="" class="search-book_card_cover">

                    <div class="search-book_card_info ms-4 flex-grow-1">
                      <div class="search-book_card_title">Tuổi trẻ đáng giá bao nhiêu ?</div>
                      <div class="search-book_card_meta">Roise Nguyen</div>

                      <div class="search-book_card_meta search-book_card_review">
                        <span>4.7 <i class='bx bxs-heart'></i></span>
                      </div>

                      <div class="search-book_card_meta">1,000 luợt tải</div>

                      <div class="search-book_card_meta search-book_card_labels d-flex align-items-center flex-wrap">
                        <div class="search-book_card_label search-book_card_label--mobi">MOBI</div>
                        <div class="search-book_card_label search-book_card_label--pdf">PDF</div>
                        <div class="search-book_card_label search-book_card_label--epub">EPUB</div>
                        <div class="search-book_card_label search-book_card_label--awz3">AWZ3</div>
                      </div>
                    </div>
                  </div>
                </a>

                <a href="/">
                  <div class="search-book_card d-flex">
                    <img src="../assets/book.png" alt="" class="search-book_card_cover">

                    <div class="search-book_card_info ms-4 flex-grow-1">
                      <div class="search-book_card_title">Tuổi trẻ đáng giá bao nhiêu ?</div>
                      <div class="search-book_card_meta">Roise Nguyen</div>

                      <div class="search-book_card_meta search-book_card_review">
                        <span>4.7 <i class='bx bxs-heart'></i></span>
                      </div>

                      <div class="search-book_card_meta">1,000 luợt tải</div>

                      <div class="search-book_card_meta search-book_card_labels d-flex align-items-center flex-wrap">
                        <div class="search-book_card_label search-book_card_label--mobi">MOBI</div>
                        <div class="search-book_card_label search-book_card_label--pdf">PDF</div>
                        <div class="search-book_card_label search-book_card_label--epub">EPUB</div>
                        <div class="search-book_card_label search-book_card_label--awz3">AWZ3</div>
                      </div>
                    </div>
                  </div>
                </a>

                <a href="/">
                  <div class="search-book_card d-flex">
                    <img src="../assets/book.png" alt="" class="search-book_card_cover">

                    <div class="search-book_card_info ms-4 flex-grow-1">
                      <div class="search-book_card_title">Tuổi trẻ đáng giá bao nhiêu ?</div>
                      <div class="search-book_card_meta">Roise Nguyen</div>

                      <div class="search-book_card_meta search-book_card_review">
                        <span>4.7 <i class='bx bxs-heart'></i></span>
                      </div>

                      <div class="search-book_card_meta">1,000 luợt tải</div>

                      <div class="search-book_card_meta search-book_card_labels d-flex align-items-center flex-wrap">
                        <div class="search-book_card_label search-book_card_label--mobi">MOBI</div>
                        <div class="search-book_card_label search-book_card_label--pdf">PDF</div>
                        <div class="search-book_card_label search-book_card_label--epub">EPUB</div>
                        <div class="search-book_card_label search-book_card_label--awz3">AWZ3</div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>

            </div>

          </div>



        </div>
      </div>
    </div>
  </div>

  <!-- book dtail -->
  <section>
    <div class="container mt-5">
      <div class="row">
        <div class="box">
          <div class="box_content">
            <div class="book-detail">
              <div class="row g-4">
  
                <div class="col-sm-12 col-md-4">
                  <div class="book-detail_cover">
                    <img src="../assets/book.png" alt="">
                  </div>
                </div>
  
                <div class="col-sm-12 col-md-8">
                  <div class="book-detail_info">
                    <div class="book-detail_info_title">Tuổi trẻ đáng giá bao nhiêu ?</div>
                    <div class="book-detail_info_rating"><span><i class="bx bxs-heart"></i> 4.7</span> (303 đánh giá) |
                      1,000 lượt tải</div>
                    <div class="book-detail_info_meta">
                      <div class="book-detail_info_meta_item">Tác giả: <span><a href="/">Roise Nguyễn</a></span> </div>
                      <div class="book-detail_info_meta_item">Thể loại: <span><a href="/">Kỹ năng sống</a>, <a
                            href="/">Kinh doanh</a></span> </div>
                      <div class="book-detail_info_meta_item">Nhà xuất bản: <span><a href="/">Nhã Nam</a></span></div>
                      <div class="book-detail_info_meta_item">Số trang: <span>200</span></div>
                      <div class="book-detail_info_meta_item">Ngày cập nhật: <span>29/06/2023</span></div>
                      <div class="book-detail_info_meta_item book-detail_info_meta_description">
                        Nhìn người như đếm cừu là câu chuyện về một anh chàng tốt
                        nghiệp MBA, được nhận vào công ty vô cùng có tiếng và bắt đầu với việc quản lí một nhóm chín
                        người. Vui mừng kèm theo nỗi hoang mang vì lần đầu làm quản lí, kiến thức đã học lại không dùng
                        được nhiều, anh liền cầu cứu thầy của mình. Thế là cứ mỗi thứ Bảy, thay vì ngủ nướng thêm chút,
                        anh cùng thầy đi làm một việc rất kì quặc để học quản lí: đi chăm sóc lũ cừu. Nhưng cũng từ đây,
                        anh chàng trẻ tuổi ấy đã học được bài học quản lí vô giá được trao truyền qua bao thế hệ xưa kia.
                        Chính nó đã giúp anh sau này trở thành người đứng đầu một tổ chức vững mạnh với những nhân viên
                        trung thành, tận tâm, cống hiến.</div>
  
                    </div>
                    <hr>
                    <div class="book-detail_info_download">
                      <div class="book-detail_info_download_text">Tải sách:</div>
                      <div class="book-detail_info_download_options d-flex flex-wrap mt-2">
                        <a href="/" class="book-detail_info_download_item book-detail_info_download_item--epub">EPUB</a>
                        <a href="/" class="book-detail_info_download_item book-detail_info_download_item--pdf">PDF</a>
                        <a href="/" class="book-detail_info_download_item book-detail_info_download_item--mobi">MOBI</a>
                        <a href="/" class="book-detail_info_download_item book-detail_info_download_item--awz3">AWZ3</a>
                      </div>
                    </div>
                  </div>
                </div>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- same book -->
  <section>
    <div class="container mt-5 shadow-sm">
      <div class="row">
        <div class="box py-4 px-4">

          <div class="box_header d-flex justify-content-between align-items-center">
            <h2 class="box_title">sách cùng thể loại</h2>
            <a href="/" class="box_getAll">xem thêm</a>
          </div>

          <div>
            <hr class="divider">
          </div>

          <div class="box_content">
            <div class="slider swiper py-3" id="newSlider">
              <div class="swiper-wrapper slider_wrapper">

                <div class="swiper-slide slider_item">
                  <div class="book-card">
                    <a href="/">

                      <div class="book-card_image">
                        <img src="../assets/book.png" loading="lazy" />
                        <div class="swiper-lazy-preloader"></div>
                      </div>

                      <div class="book-card_labels">
                        <div class="book-card_label book-card_label--mobi">MOBI</div>
                        <div class="book-card_label book-card_label--pdf">PDF</div>
                        <div class="book-card_label book-card_label--epub">EPUB</div>
                        <div class="book-card_label book-card_label--awz3">AWZ3</div>
                      </div>


                      <div class="book-card_info">
                        <div class="book-card_info_title">Tuổi trẻ đáng giá bao nhiêu</div>
                        <div class="book-card_info_meta">Book author</div>
                      </div>

                    </a>
                  </div>
                </div>

                <div class="swiper-slide slider_item">
                  <div class="book-card">
                    <a href="/">

                      <div class="book-card_image">
                        <img src="../assets/book.png" loading="lazy" />
                        <div class="swiper-lazy-preloader"></div>
                      </div>

                      <div class="book-card_labels">
                        <div class="book-card_label book-card_label--mobi">MOBI</div>
                        <div class="book-card_label book-card_label--pdf">PDF</div>
                        <div class="book-card_label book-card_label--epub">EPUB</div>
                        <div class="book-card_label book-card_label--awz3">AWZ3</div>
                      </div>


                      <div class="book-card_info">
                        <div class="book-card_info_title">Tuổi trẻ đáng giá bao nhiêu</div>
                        <div class="book-card_info_meta">Book author</div>
                      </div>

                    </a>
                  </div>
                </div>

                <div class="swiper-slide slider_item">
                  <div class="book-card">
                    <a href="/">

                      <div class="book-card_image">
                        <img src="../assets/book.png" loading="lazy" />
                        <div class="swiper-lazy-preloader"></div>
                      </div>

                      <div class="book-card_labels">
                        <div class="book-card_label book-card_label--mobi">MOBI</div>
                        <div class="book-card_label book-card_label--pdf">PDF</div>
                        <div class="book-card_label book-card_label--epub">EPUB</div>
                        <div class="book-card_label book-card_label--awz3">AWZ3</div>
                      </div>


                      <div class="book-card_info">
                        <div class="book-card_info_title">Tuổi trẻ đáng giá bao nhiêu</div>
                        <div class="book-card_info_meta">Book author</div>
                      </div>

                    </a>
                  </div>
                </div>

                <div class="swiper-slide slider_item">
                  <div class="book-card">
                    <a href="/">

                      <div class="book-card_image">
                        <img src="../assets/book.png" loading="lazy" />
                        <div class="swiper-lazy-preloader"></div>
                      </div>

                      <div class="book-card_labels">
                        <div class="book-card_label book-card_label--mobi">MOBI</div>
                        <div class="book-card_label book-card_label--pdf">PDF</div>
                        <div class="book-card_label book-card_label--epub">EPUB</div>
                        <div class="book-card_label book-card_label--awz3">AWZ3</div>
                      </div>


                      <div class="book-card_info">
                        <div class="book-card_info_title">Tuổi trẻ đáng giá bao nhiêu</div>
                        <div class="book-card_info_meta">Book author</div>
                      </div>

                    </a>
                  </div>
                </div>

                <div class="swiper-slide slider_item">
                  <div class="book-card">
                    <a href="/">

                      <div class="book-card_image">
                        <img src="../assets/book.png" loading="lazy" />
                        <div class="swiper-lazy-preloader"></div>
                      </div>

                      <div class="book-card_labels">
                        <div class="book-card_label book-card_label--mobi">MOBI</div>
                        <div class="book-card_label book-card_label--pdf">PDF</div>
                        <div class="book-card_label book-card_label--epub">EPUB</div>
                        <div class="book-card_label book-card_label--awz3">AWZ3</div>
                      </div>


                      <div class="book-card_info">
                        <div class="book-card_info_title">Tuổi trẻ đáng giá bao nhiêu</div>
                        <div class="book-card_info_meta">Book author</div>
                      </div>

                    </a>
                  </div>
                </div>

                <div class="swiper-slide slider_item">
                  <div class="book-card">
                    <a href="/">

                      <div class="book-card_image">
                        <img src="../assets/book.png" loading="lazy" />
                        <div class="swiper-lazy-preloader"></div>
                      </div>

                      <div class="book-card_labels">
                        <div class="book-card_label book-card_label--mobi">MOBI</div>
                        <div class="book-card_label book-card_label--pdf">PDF</div>
                        <div class="book-card_label book-card_label--epub">EPUB</div>
                        <div class="book-card_label book-card_label--awz3">AWZ3</div>
                      </div>


                      <div class="book-card_info">
                        <div class="book-card_info_title">Tuổi trẻ đáng giá bao nhiêu</div>
                        <div class="book-card_info_meta">Book author</div>
                      </div>

                    </a>
                  </div>
                </div>

                <div class="swiper-slide slider_item">
                  <div class="book-card">
                    <a href="/">

                      <div class="book-card_image">
                        <img src="../assets/book.png" loading="lazy" />
                        <div class="swiper-lazy-preloader"></div>
                      </div>

                      <div class="book-card_labels">
                        <div class="book-card_label book-card_label--mobi">MOBI</div>
                        <div class="book-card_label book-card_label--pdf">PDF</div>
                        <div class="book-card_label book-card_label--epub">EPUB</div>
                        <div class="book-card_label book-card_label--awz3">AWZ3</div>
                      </div>


                      <div class="book-card_info">
                        <div class="book-card_info_title">Tuổi trẻ đáng giá bao nhiêu</div>
                        <div class="book-card_info_meta">Book author</div>
                      </div>

                    </a>
                  </div>
                </div>

                <div class="swiper-slide slider_item">
                  <div class="book-card">
                    <a href="/">

                      <div class="book-card_image">
                        <img src="../assets/book.png" loading="lazy" />
                        <div class="swiper-lazy-preloader"></div>
                      </div>

                      <div class="book-card_labels">
                        <div class="book-card_label book-card_label--mobi">MOBI</div>
                        <div class="book-card_label book-card_label--pdf">PDF</div>
                        <div class="book-card_label book-card_label--epub">EPUB</div>
                        <div class="book-card_label book-card_label--awz3">AWZ3</div>
                      </div>


                      <div class="book-card_info">
                        <div class="book-card_info_title">Tuổi trẻ đáng giá bao nhiêu</div>
                        <div class="book-card_info_meta">Book author</div>
                      </div>

                    </a>
                  </div>
                </div>

                <div class="swiper-slide slider_item">
                  <div class="book-card">
                    <a href="/">

                      <div class="book-card_image">
                        <img src="../assets/book.png" loading="lazy" />
                        <div class="swiper-lazy-preloader"></div>
                      </div>

                      <div class="book-card_labels">
                        <div class="book-card_label book-card_label--mobi">MOBI</div>
                        <div class="book-card_label book-card_label--pdf">PDF</div>
                        <div class="book-card_label book-card_label--epub">EPUB</div>
                        <div class="book-card_label book-card_label--awz3">AWZ3</div>
                      </div>


                      <div class="book-card_info">
                        <div class="book-card_info_title">Tuổi trẻ đáng giá bao nhiêu</div>
                        <div class="book-card_info_meta">Book author</div>
                      </div>

                    </a>
                  </div>
                </div>

                <div class="swiper-slide slider_item">
                  <div class="book-card">
                    <a href="/">

                      <div class="book-card_image">
                        <img src="../assets/book.png" loading="lazy" />
                        <div class="swiper-lazy-preloader"></div>
                      </div>

                      <div class="book-card_labels">
                        <div class="book-card_label book-card_label--mobi">MOBI</div>
                        <div class="book-card_label book-card_label--pdf">PDF</div>
                        <div class="book-card_label book-card_label--epub">EPUB</div>
                        <div class="book-card_label book-card_label--awz3">AWZ3</div>
                      </div>


                      <div class="book-card_info">
                        <div class="book-card_info_title">Tuổi trẻ đáng giá bao nhiêu</div>
                        <div class="book-card_info_meta">Book author</div>
                      </div>

                    </a>
                  </div>
                </div>

                <div class="swiper-slide slider_item">
                  <div class="book-card">
                    <a href="/">

                      <div class="book-card_image">
                        <img src="../assets/book.png" loading="lazy" />
                        <div class="swiper-lazy-preloader"></div>
                      </div>

                      <div class="book-card_labels">
                        <div class="book-card_label book-card_label--mobi">MOBI</div>
                        <div class="book-card_label book-card_label--pdf">PDF</div>
                        <div class="book-card_label book-card_label--epub">EPUB</div>
                        <div class="book-card_label book-card_label--awz3">AWZ3</div>
                      </div>


                      <div class="book-card_info">
                        <div class="book-card_info_title">Tuổi trẻ đáng giá bao nhiêu</div>
                        <div class="book-card_info_meta">Book author</div>
                      </div>

                    </a>
                  </div>
                </div>

                <div class="swiper-slide slider_item">
                  <div class="book-card">
                    <a href="/">

                      <div class="book-card_image">
                        <img src="../assets/book.png" loading="lazy" />
                        <div class="swiper-lazy-preloader"></div>
                      </div>

                      <div class="book-card_labels">
                        <div class="book-card_label book-card_label--mobi">MOBI</div>
                        <div class="book-card_label book-card_label--pdf">PDF</div>
                        <div class="book-card_label book-card_label--epub">EPUB</div>
                        <div class="book-card_label book-card_label--awz3">AWZ3</div>
                      </div>


                      <div class="book-card_info">
                        <div class="book-card_info_title">Tuổi trẻ đáng giá bao nhiêu</div>
                        <div class="book-card_info_meta">Book author</div>
                      </div>

                    </a>
                  </div>
                </div>

                <div class="swiper-slide slider_item">
                  <div class="book-card">
                    <a href="/">

                      <div class="book-card_image">
                        <img src="../assets/book.png" loading="lazy" />
                        <div class="swiper-lazy-preloader"></div>
                      </div>

                      <div class="book-card_labels">
                        <div class="book-card_label book-card_label--mobi">MOBI</div>
                        <div class="book-card_label book-card_label--pdf">PDF</div>
                        <div class="book-card_label book-card_label--epub">EPUB</div>
                        <div class="book-card_label book-card_label--awz3">AWZ3</div>
                      </div>


                      <div class="book-card_info">
                        <div class="book-card_info_title">Tuổi trẻ đáng giá bao nhiêu</div>
                        <div class="book-card_info_meta">Book author</div>
                      </div>

                    </a>
                  </div>
                </div>

                <div class="swiper-slide slider_item">
                  <div class="book-card">
                    <a href="/">

                      <div class="book-card_image">
                        <img src="../assets/book.png" loading="lazy" />
                        <div class="swiper-lazy-preloader"></div>
                      </div>

                      <div class="book-card_labels">
                        <div class="book-card_label book-card_label--mobi">MOBI</div>
                        <div class="book-card_label book-card_label--pdf">PDF</div>
                        <div class="book-card_label book-card_label--epub">EPUB</div>
                        <div class="book-card_label book-card_label--awz3">AWZ3</div>
                      </div>


                      <div class="book-card_info">
                        <div class="book-card_info_title">Tuổi trẻ đáng giá bao nhiêu</div>
                        <div class="book-card_info_meta">Book author</div>
                      </div>

                    </a>
                  </div>
                </div>

                <div class="swiper-slide slider_item">
                  <div class="book-card">
                    <a href="/">

                      <div class="book-card_image">
                        <img src="../assets/book.png" loading="lazy" />
                        <div class="swiper-lazy-preloader"></div>
                      </div>

                      <div class="book-card_labels">
                        <div class="book-card_label book-card_label--mobi">MOBI</div>
                        <div class="book-card_label book-card_label--pdf">PDF</div>
                        <div class="book-card_label book-card_label--epub">EPUB</div>
                        <div class="book-card_label book-card_label--awz3">AWZ3</div>
                      </div>


                      <div class="book-card_info">
                        <div class="book-card_info_title">Tuổi trẻ đáng giá bao nhiêu</div>
                        <div class="book-card_info_meta">Book author</div>
                      </div>

                    </a>
                  </div>
                </div>
              </div>

              <div class="slider_navigation slider_navigation--prev">
                <i class="bx bx-chevron-left"></i>
              </div>
              <div class="slider_navigation slider_navigation--next">
                <i class="bx bx-chevron-right"></i>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container mt-5">
      <div class="row">
        <div class="box py-4 px-4">

          <div class="box_header d-flex justify-content-between align-items-center">
            <h2 class="box_title">đánh giá sách</h2>
          </div>

          <div>
            <hr class="divider">
          </div>

          <div class="box_content">
            <div class="book-review">
              <div class="book-review_top py-3">
                <div class="row g-4">
                  <div class="col-sm-12 col-md-3">
                    <div class="book-review_rating d-flex flex-column justify-content-center align-items-center h-100">
                      <span class="book-review_rating_item book-review_rating_avg">4.7 <i
                          class="bx bxs-heart"></i></span>
                      <span class="book-review_rating_item book-review_rating_review-count">(303 đánh giá)</span>
                    </div>
                  </div>

                  <div class="col-sm-12 col-md-9">
                    <div class="book-review_form">
                      <form action="/">
                        <div class="mb-3 book-review_form_review">
                          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="review"
                            placeholder="Đánh giá"></textarea>
                        </div>

                        <div class="mb-3 book-review_form_rating d-flex">
                          <div class="book-review_form_rating_item">
                            <input id="star1" name="rating" value="1" type="radio">
                            <label for="star1"><i class="bx bxs-heart"></i></label>
                          </div>

                          <div class="book-review_form_rating_item">
                            <input id="star2" name="rating" value="2" type="radio">
                            <label for="star2"><i class="bx bxs-heart"></i></label>
                          </div>

                          <div class="book-review_form_rating_item">
                            <input id="star3" name="rating" value="3" type="radio">
                            <label for="star3"><i class="bx bxs-heart"></i></label>
                          </div>

                          <div class="book-review_form_rating_item">
                            <input id="star4" name="rating" value="4" type="radio">
                            <label for="star4"><i class="bx bxs-heart"></i></label>
                          </div>

                          <div class="book-review_form_rating_item">
                            <input id="star5" name="rating" value="5" type="radio">
                            <label for="star5"><i class="bx bxs-heart"></i></label>
                          </div>

                        </div>

                        <button type="submit" class="btn btn-lg bg-main text-white">Đánh giá</button>
                      </form>
                    </div>
                  </div>

                </div>
              </div>

              <hr>

              <div class="book-review_bottom py-3">

                <div class="book-review_review pb-5">
                  <div class="row g-4">
                    <div class="col-sm-12 col-md-3">
                      <div class="book-review_review_author d-flex flex-row flex-md-column justify-content-between">
                        <div
                          class="book-review_review_author_item d-flex flex-row flex-md-column align-items-center  align-items-md-start">
                          <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32"
                            class="rounded-circle p-1">
                          <span class="p-1">Shio Nguyen</span>
                        </div>
                        <span class="book-review_review_author_item p-1">30/06/2023</span>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-9">
                      <div class="book-review_review_rating">
                        <i class="bx bxs-heart"></i>
                        <i class="bx bxs-heart"></i>
                        <i class="bx bxs-heart"></i>
                        <i class="bx bxs-heart"></i>
                        <i class="bx bxs-heart"></i>
                      </div>
                      <div class="book-review_review_content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem eligendi repellendus
                          officiis repudiandae assumenda omnis voluptas expedita vitae beatae, dolore provident tempore
                          velit error minima voluptatum adipisci doloribus atque nihil a magnam libero quam sunt quae.
                          Unde odit placeat quis.</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="book-review_review pb-5">
                  <div class="row g-4">
                    <div class="col-sm-12 col-md-3">
                      <div class="book-review_review_author d-flex flex-row flex-md-column justify-content-between">
                        <div
                          class="book-review_review_author_item d-flex flex-row flex-md-column align-items-center  align-items-md-start">
                          <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32"
                            class="rounded-circle p-1">
                          <span class="p-1">Shio Nguyen</span>
                        </div>
                        <span class="book-review_review_author_item p-1">30/06/2023</span>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-9">
                      <div class="book-review_review_rating">
                        <i class="bx bxs-heart"></i>
                        <i class="bx bxs-heart"></i>
                        <i class="bx bxs-heart"></i>
                        <i class="bx bxs-heart"></i>
                        <i class="bx bxs-heart"></i>
                      </div>
                      <div class="book-review_review_content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem eligendi repellendus
                          officiis repudiandae assumenda omnis voluptas expedita vitae beatae, dolore provident tempore
                          velit error minima voluptatum adipisci doloribus atque nihil a magnam libero quam sunt quae.
                          Unde odit placeat quis.</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="book-review_review pb-5">
                  <div class="row g-4">
                    <div class="col-sm-12 col-md-3">
                      <div class="book-review_review_author d-flex flex-row flex-md-column justify-content-between">
                        <div
                          class="book-review_review_author_item d-flex flex-row flex-md-column align-items-center  align-items-md-start">
                          <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32"
                            class="rounded-circle p-1">
                          <span class="p-1">Shio Nguyen</span>
                        </div>
                        <span class="book-review_review_author_item p-1">30/06/2023</span>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-9">
                      <div class="book-review_review_rating">
                        <i class="bx bxs-heart"></i>
                        <i class="bx bxs-heart"></i>
                        <i class="bx bxs-heart"></i>
                        <i class="bx bxs-heart"></i>
                        <i class="bx bxs-heart"></i>
                      </div>
                      <div class="book-review_review_content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem eligendi repellendus
                          officiis repudiandae assumenda omnis voluptas expedita vitae beatae, dolore provident tempore
                          velit error minima voluptatum adipisci doloribus atque nihil a magnam libero quam sunt quae.
                          Unde odit placeat quis.</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="book-review_review pb-5">
                  <div class="row g-4">
                    <div class="col-sm-12 col-md-3">
                      <div class="book-review_review_author d-flex flex-row flex-md-column justify-content-between">
                        <div
                          class="book-review_review_author_item d-flex flex-row flex-md-column align-items-center  align-items-md-start">
                          <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32"
                            class="rounded-circle p-1">
                          <span class="p-1">Shio Nguyen</span>
                        </div>
                        <span class="book-review_review_author_item p-1">30/06/2023</span>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-9">
                      <div class="book-review_review_rating">
                        <i class="bx bxs-heart"></i>
                        <i class="bx bxs-heart"></i>
                        <i class="bx bxs-heart"></i>
                        <i class="bx bxs-heart"></i>
                        <i class="bx bxs-heart"></i>
                      </div>
                      <div class="book-review_review_content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem eligendi repellendus
                          officiis repudiandae assumenda omnis voluptas expedita vitae beatae, dolore provident tempore
                          velit error minima voluptatum adipisci doloribus atque nihil a magnam libero quam sunt quae.
                          Unde odit placeat quis.</p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </section>


  <!-- recommend book -->
  <section>
    <div class="container mt-5 shadow-sm">
      <div class="row">
        <div class="box py-4 px-4">

          <div class="box_header d-flex justify-content-between align-items-center">
            <h2 class="box_title">có thể bạn sẽ thích</h2>
            <a href="/" class="box_getAll">xem thêm</a>
          </div>

          <div>
            <hr class="divider">
          </div>

          <div class="box_content">
            <div class="slider swiper py-3" id="newSlider">
              <div class="swiper-wrapper slider_wrapper">

                <div class="swiper-slide slider_item">
                  <div class="book-card">
                    <a href="/">

                      <div class="book-card_image">
                        <img src="../assets/book.png" loading="lazy" />
                        <div class="swiper-lazy-preloader"></div>
                      </div>

                      <div class="book-card_labels">
                        <div class="book-card_label book-card_label--mobi">MOBI</div>
                        <div class="book-card_label book-card_label--pdf">PDF</div>
                        <div class="book-card_label book-card_label--epub">EPUB</div>
                        <div class="book-card_label book-card_label--awz3">AWZ3</div>
                      </div>

                      <div class="book-card_info">
                        <div class="book-card_info_title">Tuổi trẻ đáng giá bao nhiêu</div>
                        <div class="book-card_info_meta">Book author</div>
                      </div>

                    </a>
                  </div>
                </div>

                <div class="swiper-slide slider_item">
                  <div class="book-card">
                    <a href="/">

                      <div class="book-card_image">
                        <img src="../assets/book.png" loading="lazy" />
                        <div class="swiper-lazy-preloader"></div>
                      </div>

                      <div class="book-card_labels">
                        <div class="book-card_label book-card_label--mobi">MOBI</div>
                        <div class="book-card_label book-card_label--pdf">PDF</div>
                        <div class="book-card_label book-card_label--epub">EPUB</div>
                        <div class="book-card_label book-card_label--awz3">AWZ3</div>
                      </div>

                      <div class="book-card_info">
                        <div class="book-card_info_title">Tuổi trẻ đáng giá bao nhiêu</div>
                        <div class="book-card_info_meta">Book author</div>
                      </div>

                    </a>
                  </div>
                </div>

                <div class="swiper-slide slider_item">
                  <div class="book-card">
                    <a href="/">

                      <div class="book-card_image">
                        <img src="../assets/book.png" loading="lazy" />
                        <div class="swiper-lazy-preloader"></div>
                      </div>

                      <div class="book-card_labels">
                        <div class="book-card_label book-card_label--mobi">MOBI</div>
                        <div class="book-card_label book-card_label--pdf">PDF</div>
                        <div class="book-card_label book-card_label--epub">EPUB</div>
                        <div class="book-card_label book-card_label--awz3">AWZ3</div>
                      </div>

                      <div class="book-card_info">
                        <div class="book-card_info_title">Tuổi trẻ đáng giá bao nhiêu</div>
                        <div class="book-card_info_meta">Book author</div>
                      </div>

                    </a>
                  </div>
                </div>

                <div class="swiper-slide slider_item">
                  <div class="book-card">
                    <a href="/">

                      <div class="book-card_image">
                        <img src="../assets/book.png" loading="lazy" />
                        <div class="swiper-lazy-preloader"></div>
                      </div>

                      <div class="book-card_labels">
                        <div class="book-card_label book-card_label--mobi">MOBI</div>
                        <div class="book-card_label book-card_label--pdf">PDF</div>
                        <div class="book-card_label book-card_label--epub">EPUB</div>
                        <div class="book-card_label book-card_label--awz3">AWZ3</div>
                      </div>

                      <div class="book-card_info">
                        <div class="book-card_info_title">Tuổi trẻ đáng giá bao nhiêu</div>
                        <div class="book-card_info_meta">Book author</div>
                      </div>

                    </a>
                  </div>
                </div>

                <div class="swiper-slide slider_item">
                  <div class="book-card">
                    <a href="/">

                      <div class="book-card_image">
                        <img src="../assets/book.png" loading="lazy" />
                        <div class="swiper-lazy-preloader"></div>
                      </div>

                      <div class="book-card_labels">
                        <div class="book-card_label book-card_label--mobi">MOBI</div>
                        <div class="book-card_label book-card_label--pdf">PDF</div>
                        <div class="book-card_label book-card_label--epub">EPUB</div>
                        <div class="book-card_label book-card_label--awz3">AWZ3</div>
                      </div>

                      <div class="book-card_info">
                        <div class="book-card_info_title">Tuổi trẻ đáng giá bao nhiêu</div>
                        <div class="book-card_info_meta">Book author</div>
                      </div>

                    </a>
                  </div>
                </div>

                <div class="swiper-slide slider_item">
                  <div class="book-card">
                    <a href="/">

                      <div class="book-card_image">
                        <img src="../assets/book.png" loading="lazy" />
                        <div class="swiper-lazy-preloader"></div>
                      </div>

                      <div class="book-card_labels">
                        <div class="book-card_label book-card_label--mobi">MOBI</div>
                        <div class="book-card_label book-card_label--pdf">PDF</div>
                        <div class="book-card_label book-card_label--epub">EPUB</div>
                        <div class="book-card_label book-card_label--awz3">AWZ3</div>
                      </div>

                      <div class="book-card_info">
                        <div class="book-card_info_title">Tuổi trẻ đáng giá bao nhiêu</div>
                        <div class="book-card_info_meta">Book author</div>
                      </div>

                    </a>
                  </div>
                </div>

                <div class="swiper-slide slider_item">
                  <div class="book-card">
                    <a href="/">

                      <div class="book-card_image">
                        <img src="../assets/book.png" loading="lazy" />
                        <div class="swiper-lazy-preloader"></div>
                      </div>

                      <div class="book-card_labels">
                        <div class="book-card_label book-card_label--mobi">MOBI</div>
                        <div class="book-card_label book-card_label--pdf">PDF</div>
                        <div class="book-card_label book-card_label--epub">EPUB</div>
                        <div class="book-card_label book-card_label--awz3">AWZ3</div>
                      </div>

                      <div class="book-card_info">
                        <div class="book-card_info_title">Tuổi trẻ đáng giá bao nhiêu</div>
                        <div class="book-card_info_meta">Book author</div>
                      </div>

                    </a>
                  </div>
                </div>

              </div>

              <div class="slider_navigation slider_navigation--prev">
                <i class="bx bx-chevron-left"></i>
              </div>
              <div class="slider_navigation slider_navigation--next">
                <i class="bx bx-chevron-right"></i>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </section>


  <footer>
    <div class="container-fluid">
      <div class="container footer">
        Copyright © 2023 <a href="/">ShioBook</a>. All rights reserved.
      </div>
    </div>
  </footer>


  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <script src="../js/bootstrap.bundle.min.js"></script>
  <script src="../js/app.js"></script>
  <script>
    const bannserSlider = new Swiper('#bannerSlider', {
      speed: 400,
      spaceBetween: 100,
      loop: true,
      autoplay: {
        delay: 2000,
      },
      breakpoints: {
        0: {
          navigation: {
            enabled: false,
            nextEl: null,
            prevEl: null,
          },
        },
        675: {
          navigation: {
            enabled: true
          },
        }
      },
      navigation: {
        nextEl: '.slider_navigation--next',
        prevEl: '.slider_navigation--prev',
      },
    });

    const newSlider = new Swiper('#newSlider', {
      speed: 400,
      spaceBetween: 50,
      loop: true,
      breakpoints: {
        0: {
          slidesPerView: 2,
          spaceBetween: 5,
          navigation: {
            enabled: false,
            nextEl: null,
            prevEl: null,
          },
        },
        576: {
          slidesPerView: 3,
          spaceBetween: 5,
          navigation: {
            enabled: true
          },
        },
        768: {
          slidesPerView: 4,
          spaceBetween: 5
        },
        992: {
          slidesPerView: 5,
          spaceBetween: 5
        },
        1200: {
          slidesPerView: 6,
          spaceBetween: 5
        }
      },
      navigation: {
        nextEl: '.slider_navigation--next',
        prevEl: '.slider_navigation--prev',
      },
    });

    const quoteSlider = new Swiper('#quoteSlider', {
      speed: 400,
      spaceBetween: 100,
      loop: true,
      autoplay: {
        delay: 2000,
      },
      effect: 'fade',
      fadeEffect: {
        crossFade: true
      },
      breakpoints: {
        0: {
          navigation: {
            enabled: false,
            nextEl: null,
            prevEl: null,
          },
        },
        675: {
          navigation: {
            enabled: true
          },
        }
      },
      navigation: {
        nextEl: '.slider_navigation--next',
        prevEl: '.slider_navigation--prev',
      },
    });

    const collectionSlider = new Swiper('#collectionSlider', {
      speed: 400,
      spaceBetween: 50,
      loop: true,
      breakpoints: {
        0: {
          slidesPerView: 1,
          spaceBetween: 10,
          navigation: {
            enabled: false,
            nextEl: null,
            prevEl: null,
          },
        },
        768: {
          slidesPerView: 2,
          spaceBetween: 10,
          navigation: {
            enabled: true
          },
        },
        992: {
          slidesPerView: 3,
          spaceBetween: 10
        },
      },
      navigation: {
        nextEl: '.slider_navigation--next',
        prevEl: '.slider_navigation--prev',
      },
    });

  </script>
</body>

</html>